<% include ../partials/header %>

<div class="main ui text container">
    <form action="/items/new" method="POST">
        <input type="text" name="name" placeholder="item name">
        <button type="submit">Add</button>
    </form>
</div>

<% include ../partials/footer %>