html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.container--main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
}

.intro {
  font-size: 1.5em;
}

.intro__heading {
  text-align: center;
}

.margin--top {
  margin-top: 30px !important;
}

.margin--bot {
  margin-bottom: 20px !important;
}

.form--width {
  max-width: 300px !important;
  margin: 30px auto 0 auto !important;
}

.participants {
  margin-top: 40px;
}

.main {
  margin-top: 60px;
}

.new-item {
  margin: 30px auto;
  max-width: 300px;
}

.signin-form {
  margin: 10% auto;
  max-width: 300px;
}

.copy {
  text-align: center;
}

