.main {
    margin-top: 60px;
}
.new-item {
    margin: 30px auto;
    max-width: 300px;
}
.signin-form {
    margin: 10% auto;
    max-width: 300px;
}

/*form container*/
.troll {
    position: relative;
}

/* edit button*/
.troll__button {
    position: absolute;
    top: 63%;
    left: 88%;
}   