<% include partials/header %>

<div class="main">
    Welcome to Ticker Tracker! You can:
    <ul>
        <li>Add items you want to keep track.</li>
        <li>Add friends on shared items.</li>
    </ul>
</div>

<% include partials/footer %>