<% include partials/header %>

<div class="main ui text container">
    <div style="padding-top:70px;font-size:2.5em">
        Welcome to Ticker Tracker! You can:
        <ul>
            <li>Add items you want to keep track.</li>
            <li>Add friends on shared items.</li>
        </ul>
    </div>
</div>

<% include partials/footer %>