<% include partials/header %>

  <!-- intro -->
  <div class="main ui text container">
    <div class="intro">
      <h1 class="intro__heading">Welcome to Ticker Tracker!</h1>
      <p>You can: </p>
      <ul>
        <li>Add items you want to keep track.</li>
        <li>Add friends on shared items.</li>
      </ul>
    </div>
  </div>

<% include partials/footer %>