<% include ./partials/header %>

<div class="signin-form">
    <h1>Login</h1>
    <form class="ui form" action="/login" method="POST">
        <div class="field">
          <input name="username" type="text" placeholder="username" required>
        </div>
        <div class="field">
          <input name="password" type="password" placeholder="password" required>
        </div>
        <button class="ui submit button">Login</button>
    </form>
</div>

<% include ./partials/footer %>